
@{
    ViewData["Title"] = "KayitOl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Weblog a Blogging Category Bootstrap responsive WebTemplate | Register :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/single.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link href="css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
</head>

<body>
	<!--Header-->

	
	<!--//header-->

	<!--/banner-->
	<div class="banner-inner">
	</div>
	
	<!--//banner-->
	<!--/main-->
	<section class="main-content-w3layouts-agileits mt-4">
		<div class="container">
			<h3 class="tittle">Kayıt Ol</h3>
				<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">
				<form action="#" method="post">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Ad Soyad</label>

                            <input type="text" class="form-control" id="txtAdSoyad" placeholder="" required="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Doğum Tarihi</label>
                            <input type="date" class="form-control form-control-sm" id="txtDogumTarihi">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Cinsiyet</label>
                            <select id="drdCinsiyet" class="form-control form-control-sm field-select2">
                                <option disabled="">Seçiniz</option>
                                <option value="1">Erkek</option>
                                <option value="2">Kadın</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">E-posta</label>
                            <input type="text" class="form-control" id="txtEposta" placeholder="" required="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Telefon</label>
                            <input type="text" class="form-control" id="txtTelefon" placeholder="" required="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Hesap Türü</label>
                            <select id="drdHesapTuru" class="form-control form-control-sm field-select2">
                                <option disabled="">Seçiniz</option>
                                <option value="1">İş Arayan</option>
                                <option value="2">İş Veren</option>
                            </select>
                        </div>
                    </div>
							<div class="form-row">
								<div class="form-group col-md-6">
										<label for="exampleInputPassword1 mb-2">Password</label>
									<input type="password" class="form-control" id="txtSifre" placeholder="" required="">
								</div>
								<div class="form-group col-md-6">
										<label for="exampleInputPassword2 mb-2">Confirm Password</label>
										<input type="password" class="form-control" id="txtSifreOnay" placeholder="" required="">
									</div>
								
							</div>
							<button type="submit" class="btn btn-primary submit mb-4" onclick="KayitOl()">Kayıt Ol</button>
								
						</form>
		
					</div>
			</div>
		</div>
	</section>
	<!--//main-->
	<!--footer-->

	<!---->	
	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->

	<!--/ start-smoth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>

    <script>
		function KayitOl() {

			var AdSoyad = $("#txtAdSoyad").val();
			var DogumTarihi = $("#txtDogumTarihi").val();
			var Cinsiyet = $("#drdCinsiyet").val();
			var Eposta = $("#txtEposta").val();
			var Telefon = $("#txtTelefon").val();
			var HesapTuru = $("#drdHesapTuru").val();
			var Sifre = $("#txtSifre").val();
			var SifreOnay = $("#txtSifreOnay").val();
			if (Sifre != SifreOnay) {
				alert("Şifre Uyuşmuyor");
				return;
            }
            var Status = 0;
            var model = { AdSoyad: AdSoyad, DogumTarihi: DogumTarihi, Cinsiyet: Cinsiyet, Eposta: Eposta, Telefon: Telefon, HesapTuru: HesapTuru, Sifre, Sifre , Status: Status};

        $.ajax({
            type: "POST",
            url: "/Register/KayitOl",
            dataType: "json",
            async: false,
            data: model,
            success: function (result) {
                if (result.completed == true) {                  
                    alert("Kaydınız Oluşturulmuştur.");

                }
            },
            error: function (e) {
                console.log(e);
            },
        });

    }







    </script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script src="js/bootstrap.js"></script>


</body>

</html>
</html>

